<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"  maxQueryStringLength="10240" />
  </system.web>

  <appSettings>
    
    <!-- monitor web接口 -->
    <add key="server_api" value="127.0.0.1:11002" />
    
    <!-- 验证key -->
    <add key="wechat_key" value="yoyang_test" />
    
    <!-- 错误码 -->
    <add key="return_10000" value="success" />
    <add key="return_10001" value="验证信息失败" />
    <add key="return_10002" value="用户非官方平台用户" />
    <add key="return_10003" value="订单重复提交" />
    <add key="return_10004" value="用户不存在" />
    <add key="return_10005" value="发送金币错误，请联系客服" />
    <add key="return_10006" value="新密码规则不正确" />
    <add key="return_10007" value="用户密码不正确" />
    <add key="return_10008" value="原密码与新密码相同" />
    <add key="return_10009" value="用户ID与昵称不匹配" />
    <add key="return_10099" value="签名验证错误" />
    <add key="return_99999" value="参数错误" />
    
    <!-- 邮件信息 -->
    <add key="mail_title" value="微信充值成功" />
    <add key="mail_sender" value="游戏运营团队" />
    <add key="mail_content" value="您好，您在微信中的充值已成功，请查收。如充值未到帐，请重新登入游戏，谢谢。" />

  </appSettings>

  <connectionStrings>
    <add name="Mongodb" connectionString="127.0.0.1" />
  </connectionStrings>

</configuration>