*{
    margin: 0;
    padding: 0;
}
body
{
    background-color:gray;
}
.cFrame
{
    width:800px;
    margin-left:auto;
    margin-right:auto;
    background-color:white;
    font-size:18px;
    margin-top:100px;
    margin-bottom:100px;
}
    .cFrame table
    {
        width: 100%;
        border-collapse:collapse;
        border:1px solid black;
    }
    .cFrame table td
    {
        padding:10px;
        border:1px solid black;
        text-align:center;
    }

#tdPlayer, #tdIsBanker
{
    width:50%;
    text-align:center;
}

#divBankerCard, #divEastCard, #divSouthCard, #divWestCard, #divNorthCard
{
    margin-top:5px;
}

/*-------------------鳄鱼大亨---------------------*/
.cTrAve td
{
    width:50%;
    text-align:center;
}

#divNormalResult, #divSpotLightResult
{
    width:100%;
    height:90px;
    text-align:center;
    padding-top:10px;
    padding-bottom:10px;
    margin-left:1px;
    /*background-color:blue;*/
}

    #divNormalResult div
    {
        float:left;   
    }

.cDivBg
{
    background-repeat:no-repeat;
    height:90px;
    width:90px;
}

    .cDivBg img
    {
        height:70px;
    }

.cDivBg1
{
    margin-left:auto;
    margin-right:auto;
}

.clr
{
    clear: both;
}

.cHand
{
    font-size:30px;
}

/*-------------------骰宝---------------------*/
.cDiceImg
{
    height:64px;
}