<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

  <appSettings>
    <!-- 踢玩家下线，在XianXiaWebInterface中实现 -->
    <add key="kickPlayer" value="http://localhost:13534/gameapi/KickPlayer.aspx?acc={0}&amp;time={1}" />
    <!-- 解锁玩家-请求，在XianXiaWebInterface中实现 -->
    <add key="unLockPlayer" value="http://localhost:13534/gameapi/UnlockPlayer.aspx?acc={0}" />
    <!--- 以上两个接口废弃 -->

    
    <!-- 创建玩家账号 -->
    <add key="createAccount" value="http://192.168.1.18:26011/Default/RegeditAccount.aspx?data={0}&amp;sign={1}&amp;platform=default" />

    <!-- 修改玩家密码 -->
    <add key="modifyAccountPwd" value="http://localhost:1288/Default/ResetPwd.aspx?data={0}&amp;sign={1}&amp;opSrc=dwcapi" />

    <!-- 清理登录失败次数，在HttpService中实现 -->
    <add key="clearFailedLoginCount" value="http://localhost:6503/ClearFailedLoginCount.aspx?acc={0}&amp;platform=default" />

    <!-- 解锁玩家-返回实现，在XianXiaWebInterface中实现 -->
    <add key="unLockPlayerRet" value="http://localhost:13534/appaspx/AccountSaveMoney.aspx?acc={0}&amp;money={1}" />

    <!-- 连接数据库串 -->
    <add key="connectStr" value="server={0};user id=root; password=123456; database={1}; pooling=false"/>
    
    <add key="mysql" value="192.168.1.18" />

    <!-- 货币单位 1表示元  10表示角 100表示分。后台web上分下分输入时统一以元为单位，存入数据库时乘以这个值，显示时除这个值 -->
    <add key="moneyBase" value="10"/>
    
    <!-- player数据库 -->
    <add key="mongodbPlayer" value="192.168.1.18" />
    <!-- log数据库 -->
    <add key="mongodbLog" value="192.168.1.18" />
    <!-- acc数据库 -->
    <add key="mongodbAcc" value="192.168.1.12" />
  </appSettings>
  
</configuration>
