<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    有关 .NET 4.5 的 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <authentication mode="Forms">
      <forms loginUrl="~/appaspx/Login.aspx" timeout="2880"/>
    </authentication>
    <sessionState cookieless="false" mode="InProc" timeout="30"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <appSettings>
    <!-- 充值数据所在数据库地址 -->
    <add key="payment" value="192.168.1.12"/>
    <!-- 登陆游戏的账号所在数据库 -->
    
    <!-- excel导出服务IP -->
    <add key="exportIP" value="127.0.0.1"/>
    <!-- excel导出服务端口号 -->
    <add key="exportPort" value="60002"/>
    <!-- 账号找回所在页面 -->
    <add key="findAccountWeb" value="http://localhost:58767/SearchAccount.aspx"/>
   
    <!-- 维护所在页面 -->
    <add key="maintenaceWeb" value="http://192.168.1.11:26003/MaintenanceInfo.aspx?state={0}&amp;info={1}" />

    <!-- 头像所在URL -->
    <add key="headURL" value="http://121.199.75.142:26011/Picture/{0}/{1}" />

    <!-- ********************************************************************************** -->

    <!-- mongodb账号库所在IP -->
    <add key="account" value="192.168.1.18"/>

    <!-- 创建玩家账号 -->
    <add key="createAccount" value="http://192.168.1.18:26011/Default/RegeditAccount.aspx?data={0}&amp;sign={1}&amp;platform=default" />
    
    <!-- 清理登录失败次数，在HttpService中实现 -->
    <add key="clearFailedLoginCount" value="http://localhost:6503/ClearFailedLoginCount.aspx?acc={0}&amp;platform=default" />

    <!-- 解锁玩家-返回实现，在XianXiaWebInterface中实现 -->
    <add key="unLockPlayerRet" value="http://192.168.1.18:5000/appaspx/AccountSaveMoney.aspx?acc={0}&amp;money={1}" />

    <!-- 连接数据库串 -->
    <add key="connectStrMongo" value="192.168.1.18"/>

    <!-- 连接数据库串 -->
    <add key="connectStr" value="server={0};user id=root; password=123456; database={1}; pooling=false"/>

    <!-- 货币单位 1表示元  10表示角 100表示分。后台web上分下分输入时统一以元为单位，存入数据库时乘以这个值，显示时除这个值 -->
    <add key="moneyBase" value="1"/>

    <!-- http 监听，端口号为monitor的out_port+1 -->
    <add key="httpMonitor" value="http://localhost:11002/{0}" />
    
    <!-- mysql 服务器个数 -->
    <add key="mySqlServerCount" value="1" />
    <add key="mysql_1" value="192.168.1.18" />
  </appSettings>
</configuration>